# Some standard files to ignore
.venv/
__pycache__/

dist/
.pypirc
robonmap/RoboNmap.egg-info/

# Ignore test results and created files
robonmap/*.html
robonmap/{}
robonmap/*.xml
robonmap/*.txt
nmap.txt
results/